<%- include('includes/head',{pageTitle: 'An Error Occurred'}) %>
</head>
<body>
    <%- include('includes/header')%>
    <main>
        <h1>Not Authenticated</h1>
        <p>Denied Access! You Are Not Authenticated!</p>
        <a class="btn" href="/">Back To Safety</a>
    </main>
<%- include('includes/footer')%>