<%- include('includes/head',{pageTitle: 'An Error Occurred'}) %>
</head>
<body>
    <%- include('includes/header')%>
    <main>
        <h1>Something Went Wrong!</h1>
        <p>Unfortunately, Something Went Wrong! Please Try Again Later</p>
        <a class="btn" href="/">Back To Safety</a>
    </main>
<%- include('includes/footer')%>