<%- include('../../shared/includes/head',{pageTitle: 'Failure'}) %>

</head>
<body>
    <%- include('../../shared/includes/header')%>
    <main>
        <h1>Orders Failed</h1>
        <p>Please Contact The Shop Owner For More Details</p>
        
    </main>
<%- include('../../shared/includes/footer')%>