<%- include('../../shared/includes/head',{pageTitle: 'Success'}) %>

</head>
<body>
    <%- include('../../shared/includes/header')%>
    <main>
        <h1>Orders Successful</h1>
        <p>Please Visit <a href="/orders">The Orders Page </a>for more information</p>
        
    </main>
<%- include('../../shared/includes/footer')%>