<header>
    <div><a href="">WDE</a></div>
    <nav>
        <ul>
            <%if (locals.isAuthenticated) {%>
                <li>
                    <Button>Logout</Button>
                </li>
            <%}%>
        </ul>
    </nav>
</header>