<%- include('includes/head',{pageTitle: 'An Error Occurred'}) %>
</head>
<body>
    <%- include('includes/header')%>
    <main>
        <h1>Not Authorized</h1>
        <p>Denied Access! You Are Not Authorized!</p>
        <p><a class="btn" href="/">Back To Safety</a></p>
    </main>
<%- include('includes/footer')%>